version: '3.8'

services:
  backend:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ../frontend:/frontend
    depends_on:
      - db
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/pharmacy

  db:
    image: postgres:13
    ports:
      - "5433:5432" # Expose PostgreSQL port to host (Host:5433 -> Container:5432)
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=pharmacy

volumes:
  postgres_data: